<h5>Results</h5>
<table class="table .table-striped">
  <th>Name</th>
  <th>Mutal intrests</th>
  <th>Points</th>
    <tr>
	  <td><%= link_to user.email, user %></td>
	  <td><%= user.city %></td>
	  <td>24</td>
	</tr>
</table>
<button class="btn btn-primary pull-right" type="submit">Clear</button>
<br>
