<div class="span3"><!-- SIDEBAR -->
  <div class="well sidebar-nav">
    <ul class="nav nav-list" style="margin-left:-20px;">
      <li class="nav-header">
        New Interests
      </li>
      <% new_interests.each do |interest| %>
        <li>
          <h5>
            <%= interest.name %>
            <% if current_user %>
              <span class="btn-group pull-right">
                <%= link_to "+1", "#", :class => "btn btn-mini plus-one-tooltip", :rel => "tooltip", data: { id: interest.id, original_title: "Upvote rep for interest"} %>
                <%= link_to "Add", "#", :class => "btn btn-mini btn-success", data: { id: interest.id } %>
              </span>
            <% end %>
          </h5>
        </li>
      <% end %>
    </ul>
   <hr>
  </div>
</div><!-- END OF SIDEBAR -->
